@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap');
}

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);

  /* Automatic computation of border around primary / danger buttons */
  --opaque-button-border-intensity: -8; /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: 45 100% 96.86%;

  --foreground: 38.18 53.23% 24.31%;

  --border: 44.21 26.76% 86.08%;

  --card: 47.14 87.5% 96.86%;

  --card-foreground: 38.18 53.23% 24.31%;

  --card-border: 45 85% 92%;

  --sidebar: 180 6.67% 97.06%;

  --sidebar-foreground: 38.18 53.23% 24.31%;

  --sidebar-border: 205 25% 90.59%;

  --sidebar-primary: 203.89 88.28% 53.14%;

  --sidebar-primary-foreground: 0 0% 100%;

  --sidebar-accent: 211.58 51.35% 92.75%;

  --sidebar-accent-foreground: 203.89 88.28% 53.14%;

  --sidebar-ring: 203.89 88.28% 53.14%;

  --popover: 0 0% 100%;

  --popover-foreground: 38.18 53.23% 24.31%;

  --popover-border: 44.21 26.76% 82%;

  --primary: 38.23 87.6% 74.71%;

  --primary-foreground: 39.27 43.31% 24.9%;

  --secondary: 39.27 43.31% 24.9%;

  --secondary-foreground: 39.75 86.96% 81.96%;

  --muted: 38.4 60.98% 91.96%;

  --muted-foreground: 38.18 53.23% 24.31%;

  --accent: 74.4 39.68% 87.65%;

  --accent-foreground: 91.43 10.55% 39.02%;

  --destructive: 0.49 54.19% 55.49%;

  --destructive-foreground: 0 0% 100%;

  --input: 44.21 26.76% 86.08%;
  --ring: 39.27 43.31% 24.9%;
  --chart-1: 203.89 88.28% 53.14%;
  --chart-2: 159.78 100% 36.08%;
  --chart-3: 42.03 92.83% 56.27%;
  --chart-4: 147.14 78.5% 41.96%;
  --chart-5: 341.49 75.2% 50.98%;

  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-serif: 'IBM Plex Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
  --radius: 0.875rem;
  --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.04);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
  --shadow-sm: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.08);
  --shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 6px 12px -2px rgba(0, 0, 0, 0.08), 0px 12px 16px -4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 10px 20px -5px rgba(0, 0, 0, 0.1), 0px 20px 25px -5px rgba(0, 0, 0, 0.12);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 25px 50px -12px rgba(0, 0, 0, 0.15);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* Automatically computed borders - intensity can be controlled by the user by the --opaque-button-border-intensity setting */

  /* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);

  --opaque-button-border-intensity: 9;  /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: 0 0% 0%;

  --foreground: 200 6.67% 91.18%;

  --border: 210 5.26% 14.9%;

  --card: 228 9.8% 10%;

  --card-foreground: 0 0% 85.1%;

  --card-border: 228 9.8% 12%;

  --sidebar: 228 9.8% 10%;

  --sidebar-foreground: 0 0% 85.1%;

  --sidebar-border: 205.71 15.79% 26.08%;

  --sidebar-primary: 202.82 89.12% 53.14%;

  --sidebar-primary-foreground: 0 0% 100%;

  --sidebar-accent: 205.71 70% 7.84%;

  --sidebar-accent-foreground: 203.77 87.6% 52.55%;

  --sidebar-ring: 202.82 89.12% 53.14%;

  --popover: 0 0% 0%;

  --popover-foreground: 200 6.67% 91.18%;

  --popover-border: 210 5.26% 2%;

  --primary: 203.77 87.6% 52.55%;

  --primary-foreground: 0 0% 100%;

  --secondary: 195 15.38% 94.9%;

  --secondary-foreground: 210 25% 7.84%;

  --muted: 0 0% 9.41%;

  --muted-foreground: 210 3.39% 46.27%;

  --accent: 205.71 70% 7.84%;

  --accent-foreground: 203.77 87.6% 52.55%;

  --destructive: 356.3 90.56% 54.31%;

  --destructive-foreground: 0 0% 100%;

  --input: 207.69 27.66% 18.43%;
  --ring: 202.82 89.12% 53.14%;
  --chart-1: 203.89 88.28% 53.14%;
  --chart-2: 159.78 100% 36.08%;
  --chart-3: 42.03 92.83% 56.27%;
  --chart-4: 147.14 78.5% 41.96%;
  --chart-5: 341.49 75.2% 50.98%;

  --shadow-2xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-xs: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  --shadow-sm: 0px 2px 4px -1px rgba(0, 0, 0, 0.4), 0px 4px 6px -1px rgba(0, 0, 0, 0.5);
  --shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.4), 0px 10px 15px -3px rgba(0, 0, 0, 0.6);
  --shadow-md: 0px 6px 12px -2px rgba(0, 0, 0, 0.5), 0px 12px 16px -4px rgba(0, 0, 0, 0.6);
  --shadow-lg: 0px 10px 20px -5px rgba(0, 0, 0, 0.6), 0px 20px 25px -5px rgba(0, 0, 0, 0.7);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.7), 0px 25px 50px -12px rgba(0, 0, 0, 0.8);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.9);

  /* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  .no-default-hover-elevate {}

  .no-default-active-elevate {}

  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: -1;
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  .border.toggle-elevate::before {
    inset: -1px;
  }

  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: 999;
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}